
html, body, div, p, a, h1, h2, h3{
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}
div.container{

  background-color: #cdedf8;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div.controls{
  z-index: 200;
  position: absolute;
  top: 10vh;
  right: 30px;
  width:300px;
  padding: 20px 20px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.75);
}

.title{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 90%;
  margin: 15px auto;
  color: #F5F3EF		;
}

.controls h2{
  font-size: 14px;
  text-transform: uppercase;
  opacity: 1;
  color: #F5F3EF		;
  margin-top: 5px;
}

div.room{
  padding: 5px 10px;
  border: 1px lightgray;
  border-style: dashed none none none;
}
.fa {
  color: #F5F3EF		;
}

div.sliders{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 0px;

}
.slider{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px 0;
  position: relative;
}
.slider-label {
  text-align: center;
  width: 50px;
}

.slider-output{
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
  color: #F5F3EF	;
}

div.frame{
  width: 1000px;
  height: 700px;
  position: relative;
}
img{
  position:absolute;
  left: 0;
  bottom:0;
  width: 900px;
  z-index: 1;
}

#canvas{
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
}

.fire{
  position: absolute;
  bottom: 95px;
  left: 100px;
  width:45px;
  height:45px;
  z-index: 200;
  float:left;
}

.slider-range {
  width: 150px;
  position: relative;
  margin: auto;
  border: 0;
  height: 3px;
  outline: none;
}

.slider-range .ui-slider-handle {
  position: absolute;
  margin: -1px 0 0 -9px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 0;
  height: 15px;
  width: 15px;
  outline: none;
  cursor: pointer;
}

.slider-range .ui-slider-handle:hover,
.slider-range .ui-slider-handle:focus {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.slider-range .ui-slider-range { background: #007aff; }

.temperature .slider-range{
  background: #a94a49;
}
.temperature .ui-slider-handle{
  background: #d16968;
}

.lights .slider-range{
  background: #ffbb42;
}
.lights .ui-slider-handle{
  background: #fde2ab;
}
.curtains .slider-range{
  background: #289e9b;
}
.curtains .ui-slider-handle{
  background: #2bccc7;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  bottom: -50px;
  right: 50px;
  font-size: 12px;
  z-index: 300;
  color: black;
}

a{
  color: gray;
}
